# Uncomment the control_proxy line if you would like to set up a proxy connection for pianobar
#control_proxy = http://<proxy_user>:<proxy_pass>@<proxy_address>:<proxy_port>

user = <pandora_user>
password = <pandora_password>

width = 220
height = 60

#-------------------------------------------------------------------------------
# Uncomment these if you're using GlobalPandora.com

#rpc_host = internal-tuner.pandora.com
#partner_user = pandora one
#partner_password = TVCKIBGS9AO9TSYLNNFUML0743LH82D
#device = D01
#encrypt_password = 2%3WCL*JU$MP]4
#decrypt_password = U#IO$RZPAB%VX2
#tls_fingerprint = B0A1EB460B1B6F33A1B6CB500C6523CB2E6EC946
